<% layout('layouts/boilerplate') -%>
<h1>All Centres</h1>
<div>
  <a href="/centres/new">Add New Centre</a>
</div>
<ul>
  <% for (let centre of centres) {%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="<%= centre.image %>" alt="" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= centre.name %></h5>
          <p class="card-text"><%= centre.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= centre.location %></small>
          </p>
          <a class="btn btn-primary" href="/centres/<%= centre._id %> "
            >View <%= centre.name %></a
          >
        </div>
      </div>
    </div>
  </div>
  <%}%>
</ul>
